.bi-arrow-left {
  cursor: pointer;
  font-size: 2rem;
}
hr {
  border: none;
  height: 3px;
  background-color: black;
}
#content {
  @media screen and (min-width: 767px) {
    max-width: 80%;
    left: 0;
  }
}
