<div class=" col-md-6 d-flex  justify-content-center flex-column align-items-middle vh-100 mx-auto">
    <div class="text-center">

        <img src="images/logo-large.png" max-height=238 class="img-fluid" alt="mdd">
    </div>
    <div class="d-md-flex justify-content-between links">
        <a routerLink="/login" class="btn btn-outline-primary d-block ms-md-4 mb-5 mb-md-0 mx-auto">Se
            connecter</a>
        <a routerLink="/register" class="btn btn-outline-primary d-block me-md-4 mt-5 mt-md-0 mx-auto">S'inscrire</a>
    </div>
</div>