<div class="col mx-auto">
    @if(form){
    <form [formGroup]="form" (submit)="handleSubmit($event)">
        <div class="mb-3">
            <label for="content" class="form-label mb-0"></label>
            <textarea class="form-control" id="content" formControlName="content"></textarea>
            @if(contentIsInvalid){
            <div class="text-danger">
                @if(content?.hasError('required')){
                Le message est requis
                }
            </div>
            }
            @if(errors?.content){
            <div class="text-danger">
                {{ errors.content}}
            </div>
            }
        </div>

        @if(errorMsg){
        <div class="text-danger mb-3">
            {{errorMsg}}
        </div>
        }
        <div class="mb-3 text-center d-flex flex-column">
            <button type="submit" class="btn btn-primary  mx-auto fw-bold">Sauvegarder</button>

        </div>
    </form>
    }


</div>